.dropdown__cont {
  position: absolute;
  width: 24vw;
  height: 50vh;
  border-radius: 12px;
  background: whitesmoke;
  z-index: 5;
  left: 61vw;
  top: 21vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown__cont img {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.dropdown__closed {
  display: none;
}

.watchlist__container {
  width: 70vw;
  height: 70vh;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(10px) brightness(60%);
          backdrop-filter: blur(10px) brightness(60%);
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin-top: 20vh;
  z-index: 3;
}

.watchlist__container .watchlist__header {
  width: 70vw;
  height: 15vh;
  border-radius: 12px;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.watchlist__container .watchlist__header .header__title {
  width: 40vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watchlist__container .watchlist__header .header__title h3 {
  padding-left: 3vw;
  font-family: 'Poppins';
  font-size: 2rem;
  color: white;
}

.watchlist__container .watchlist__header .header__add {
  width: 30vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watchlist__container .watchlist__header .header__add .add__area {
  width: 14vw;
  height: 6vh;
  border-radius: 100px;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -12vw;
  cursor: pointer;
}

.watchlist__container .watchlist__header .header__add .add__area .add_icon {
  width: 3.5vw;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watchlist__container .watchlist__header .header__add .add__area .add_icon img {
  width: 35px;
  height: 35px;
}

.watchlist__container .watchlist__header .header__add .add__area .add_text {
  width: 10.5vw;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watchlist__container .watchlist__header .header__add .add__area .add_text h4 {
  font-family: 'Poppins';
  font-size: 0.75rem;
  color: white;
}

.watchlist__container .watchlist__main {
  width: 70vw;
  height: 55vh;
  border-radius: 12px;
  overflow-y: scroll;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.watchlist__container .watchlist__main .no__crypto__added {
  position: absolute;
  width: 66vw;
  height: 48vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watchlist__container .watchlist__main .no__crypto__added h2 {
  font-size: 2rem;
  color: white;
  font-family: 'Poppins';
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  .dropdown__cont {
    min-width: 70vw;
    max-height: 40vh;
    left: 15vw !important;
    top: 21vh;
  }
  .watchlist__header .header__title {
    max-width: 35vw;
    height: 15vh;
  }
  .watchlist__header .header__title h3 {
    font-size: 1.2rem !important;
  }
  .watchlist__header .header__add {
    min-width: 50vw;
  }
  .watchlist__header .header__add .add__area {
    min-width: 30vw;
    max-height: 5vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: -2vw !important;
  }
  .watchlist__header .header__add .add__area .add_icon {
    min-width: 8vw;
    height: 6vh;
  }
  .watchlist__header .header__add .add__area .add_icon img {
    max-width: 20px;
    max-height: 20px;
  }
  .watchlist__header .header__add .add__area .add_text {
    min-width: 22vw;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .watchlist__header .header__add .add__area .add_text h4 {
    padding-right: 2vw;
    font-size: 0.4rem !important;
  }
}
/*# sourceMappingURL=watchlistStyles.css.map */