@keyframes fadeAnim {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.signup__card {
    width: 24vw;
    height: 70vh;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    .fade {
        animation-name: fadeAnim;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: initial;
    }

    .su__card__details {
        width: 20vw;
        height: 40vh;
        display: flex;
        flex-direction: column;

        .su__title {
            width: 20vw;
            height: 12vh;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                font-family: 'Poppins';
                font-weight: 300;
                font-size: 2rem;
                color: whitesmoke;
            }
        }

        .su__blurb {
            width: 20vw;
            height: 18vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            p {
                font-family: 'Poppins';
                font-weight: 100;
                font-size: 1rem;
                line-height: 26px;
                color: whitesmoke;
            }
        }

        .su__button {
            width: 20vw;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .su__btn {
                width: 10vw;
                height: 4vw;
                border-radius: 150px;
                background: rgba(119, 0, 255, 0.699);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition-duration: 0.2s;
                transform: translateY(0px);

                h3 {
                    font-family: 'Poppins';
                    color: white;
                    font-weight: 200;
                }
            }
            .su__btn:hover, .su__btn:active {
                background: rgba(212, 210, 214, 0.973);
                transform: translateY(-5px);
                h3 {
                    color: rgb(119, 0, 255);
                }
            }
        }
    }
}