@keyframes fadeAnim {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form__container__mobile {
    width: 70vw;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .fade {
        animation-name: fadeAnim;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: initial;
    }

    .wrapper {
        width: 70vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .form__title {
            width: 70vw;
            height: 6vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            
            h2 {
                font-family: 'Poppins';
                font-weight: 200;
                font-size: 2.4rem;
                color: white;
            }
        }

        .si_form {
            margin-top: 3vh;
            width: 70vw;
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
            form {
                width: 70vw;
                height: 15vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;

                input {
                    width: 50vw;
                    padding: 10px;
                    border-radius: 150px;
                    outline: none;
                    background: transparent;
                    border: 1px solid white;
                    color: white;
                }

                img {
                    position: absolute;
                    top: 17.4vh;
                    left: 52.2vw;
                    width: 28px;
                    height: 28px;
                    cursor: pointer;
                    transition-duration: 0.2s;
                }
            }
        }

        .si__buttonArea {
            width: 70vw;
            height: 17vh;
            padding-top: 6vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .si_btn{
                transition-duration: 0.2s;
            }

            .si_btn:hover {
                background: rgba(119, 0, 255, 0.699);
                h3{
                    color: white;
                }
            }

            .sign_in__button {
                width: 32vw;
                height: 4vh;
                padding: 4px;
                background: white;
                border-radius: 150px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-top: -3vh !important;
                margin-bottom: 2vh;

                h3 {
                    font-family: 'Poppins';
                    font-weight: 200;
                    color: #333;
                    font-size: 0.6rem;
                }
            }

            .sign_in__google__button {
                width: 32vw;
                height: 4vh;
                padding: 4px;
                background: white;
                border-radius: 150px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                cursor: pointer;

                h3 {
                    font-family: 'Poppins';
                    font-weight: 200;
                    color: #333;
                    font-size: 0.6rem;
                }

                img {
                    width: 3vh;
                    height: 3vh;
                }
            }
        }
    }
}